<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Ligature</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" href="/static/logo.svg">
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
  <link rel="mask-icon" href="/static/logo.svg" color="#ffffff">

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <p>Hello {{name}}.</p>
</body>

</html>
